# Remove the line below if you want to inherit .editorconfig settings from higher directories.
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{cmd,ps1}]
end_of_line = crlf

[*.cs]
guidelines = 120
max_line_length = 100

csharp_style_namespace_declarations = file_scoped
dotnet_code_quality.CA1062.null_check_validation_methods = Werecodent.CreateAndFake.Design.ArgumentGuard.ThrowIfNull

#### Naming styles: ####

# Define naming styles:
dotnet_naming_style.underscored_camel.required_prefix = _
dotnet_naming_style.underscored_camel.capitalization = camel_case

dotnet_naming_style.underscored_pascal.required_prefix = _
dotnet_naming_style.underscored_pascal.capitalization = pascal_case

dotnet_naming_style.underscored_i.required_prefix = I
dotnet_naming_style.underscored_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.camel_case.capitalization = camel_case

# Define symbol groups:
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_symbols.private_static_fields.applicable_kinds = field
dotnet_naming_symbols.private_static_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields.required_modifiers = static

dotnet_naming_symbols.interfaces.applicable_kinds = interface

dotnet_naming_symbols.structures.applicable_kinds = class, struct, interface, enum, property, event, method, type_parameter

dotnet_naming_symbols.locals.applicable_kinds = parameters, local, local_function

# Define naming rules:
dotnet_naming_rule.private_fields_prefix.symbols = private_fields
dotnet_naming_rule.private_fields_prefix.style = underscored_camel
dotnet_naming_rule.private_fields_prefix.severity = warning

dotnet_naming_rule.private_static_fields_prefix.symbols = private_static_fields
dotnet_naming_rule.private_static_fields_prefix.style = underscored_pascal
dotnet_naming_rule.private_static_fields_prefix.severity = warning

dotnet_naming_rule.interfaces_prefix.symbols = interfaces
dotnet_naming_rule.interfaces_prefix.style = begins_with_i
dotnet_naming_rule.interfaces_prefix.severity = warning

dotnet_naming_rule.structures_casing.symbols = structures
dotnet_naming_rule.structures_casing.style = pascal_case
dotnet_naming_rule.structures_casing.severity = warning

dotnet_naming_rule.locals_casing.symbols = locals
dotnet_naming_rule.locals_casing.style = camel_case
dotnet_naming_rule.locals_casing.severity = warning

#### Analyzer Overrides ####

dotnet_analyzer_diagnostic.severity = warning

# Controlled by CSharpier.
dotnet_diagnostic.IDE0055.severity = None
dotnet_diagnostic.MA0051.severity = None

# Bad warnings that can create bugs or are clearly intended behavior.
dotnet_diagnostic.CA1000.severity = None
dotnet_diagnostic.CA1040.severity = None
dotnet_diagnostic.MA0018.severity = None
dotnet_diagnostic.MA0165.severity = None
dotnet_diagnostic.RCS1241.severity = None
dotnet_diagnostic.S1133.severity = None
dotnet_diagnostic.S1694.severity = None
dotnet_diagnostic.S1994.severity = None
dotnet_diagnostic.S3011.severity = None
dotnet_diagnostic.S3220.severity = None
dotnet_diagnostic.S3453.severity = None
dotnet_diagnostic.S3878.severity = None

# Redundancy that's good for clarity.
dotnet_diagnostic.CA1805.severity = None
dotnet_diagnostic.RCS1033.severity = None
dotnet_diagnostic.RCS1034.severity = None
dotnet_diagnostic.RCS1071.severity = None
dotnet_diagnostic.RCS1129.severity = None
dotnet_diagnostic.RCS1188.severity = None
dotnet_diagnostic.S108.severity = None
dotnet_diagnostic.S1125.severity = None
dotnet_diagnostic.S1199.severity = None
dotnet_diagnostic.S3626.severity = None

# Unnecessary overcaution against default behavior that hurts readability.
dotnet_diagnostic.IDE0045.severity = None
dotnet_diagnostic.IDE0046.severity = None
dotnet_diagnostic.IDE0048.severity = None
dotnet_diagnostic.MA0002.severity = None
dotnet_diagnostic.MA0003.severity = None
dotnet_diagnostic.MA0006.severity = None
dotnet_diagnostic.MA0076.severity = None
dotnet_diagnostic.MA0169.severity = None
dotnet_diagnostic.RCS1089.severity = None
dotnet_diagnostic.RCS1123.severity = None
dotnet_diagnostic.S1751.severity = None
dotnet_diagnostic.S2743.severity = None
dotnet_diagnostic.S3993.severity = None

# Design choice.
dotnet_diagnostic.MA0029.severity = None
dotnet_diagnostic.MA0071.severity = None
dotnet_diagnostic.RCS1112.severity = None
dotnet_diagnostic.RCS1211.severity = None
dotnet_diagnostic.S3267.severity = None

# Unavoidable for handling anything thrown at the libary.
dotnet_diagnostic.CA1031.severity = None
dotnet_diagnostic.RCS1075.severity = None

# Deprecated.
dotnet_diagnostic.MA0038.severity = None
dotnet_diagnostic.MA0041.severity = None

# Not supported in all .NET versions.
dotnet_diagnostic.CA1865.severity = None
dotnet_diagnostic.CA2249.severity = None
dotnet_diagnostic.IDE0057.severity = None
dotnet_diagnostic.IDE0370.severity = None
dotnet_diagnostic.MA0001.severity = None
dotnet_diagnostic.MA0089.severity = None

# Specifically for Visual Studio extensions and don't apply to this library.
dotnet_diagnostic.VSTHRD003.severity = None

# TODO: Documentation work.
dotnet_diagnostic.RCS1228.severity = None

# TODO: Remove commented out code.
dotnet_diagnostic.S125.severity = None
