[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning

# IDE0011: Add braces
csharp_prefer_braces = when_multiline:warning

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none
# CA1307: Specify StringComparison for clarity
dotnet_diagnostic.CA1307.severity = none
# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none
# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none
# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = none

# CS1591: Missing XML comment for publicaly visible
dotnet_diagnostic.CS1591.severity = none

# IDE0046: 'if' statement can be simplified
dotnet_diagnostic.IDE0046.severity = none
# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = none
# IDE0048: Add parentheses for clarity
dotnet_diagnostic.IDE0048.severity = none
# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none
# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none
