<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="AllForTest" Description="Contains all rules with a few exceptions." ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1707" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S2699" Action="None" />
    <Rule Id="S3443" Action="None" />
  </Rules>
</RuleSet>